# KEY and HOST and PORT configuration config.py
GROQ_API_KEY = 
GEMINI_API_KEY=
CHATGPT_MINI_API_KEY=
HOST = "0.0.0.0"
PORT = 8000

#The cache Configuration cache.config.py

ENABLE_CACHE = true #can be used for toogling cacahe on or off
CACHE_TTL_HOURS = 24 #the amount of time a cahe is stored in dict
CACHE_BACKEND = memory# can use other cache like redis, sqlite and other
